.background_div{
    width:100%;
    height:700px;
    background-image: linear-gradient(to right top, #27d713, #65dd00, #8de200, #aee700, #cceb12);
}


.navigation_bar{
    display:flex;
    justify-content: flex-end;
    padding-top:25px;
}



.link{
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}








.ballone{
    height:70px;
    width:70px;
    background-image: linear-gradient(to right top, #d71313, #f00043, #fe0075, #fa00af, #de12eb);
    border-radius: 50%;
    margin-top: 20px;
    animation-name: motion;
    animation-duration:10s;
    animation-timing-function: ease-out;
    animation-delay:0ms;
    animation-iteration-count: 10;
    animation-direction: reverse;

}



@keyframes motion{
    from{transform:translate(0px,0px)}
    to{transform:translate(350px,300px)}
}



.balltwo{
    height:70px;
    width:70px;
    background-image: linear-gradient(to right top, #053734, #06595a, #047e85, #02a5b6, #12cceb);
    border-radius: 50%;
    margin-top: 80px;
    animation-name: motiontwo;
    animation-duration:10s;
    animation-timing-function: ease-out;
    animation-delay:0ms;
    animation-iteration-count: 10;
    animation-direction: normal;

}


@keyframes motiontwo{
    from{transform:translate(0px,0px)}
    to{transform:translate(300px,-300px)}
}





.main-body{
    height:600px;
    width:100%;
    background-image: linear-gradient(to right top, #05f722, #73f900, #a4fb00, #ccfc00, #eefc03);
}






@media(max-width:992px){
    .navigation_bar{
        display:flex;
        justify-content: center;
    }
    h1{
        font-size:10px;
    }

    .main-body{
        height:1000px;
    }
}



footer{
    width:100%;
    height:70px;
    background-color: #053734;
    color:white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top:20px;
}


.img1{
    animation-name:rrotate;
    animation-duration: 10s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: normal;
}
@keyframes rrotate{
      from{transform:rotate(0deg)}
      to{transform:rotate(45deg)}
}



.img2{
    animation-name:sskew;
    animation-duration: 10s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: normal;
}
@keyframes sskew{
      from{transform:skew(0deg)}
      to{transform:skew(45deg)}
}


.img3{
    animation-name:mixed;
    animation-duration: 10s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: normal;
}
@keyframes mixed{
      from{transform:skew(0deg)}
      to{transform:skew(45deg)}
      from{transform:rotate(0deg)}
      to{transform:rotate(45deg)}
}

.img4{
    animation-name:crotate;
    animation-duration: 10s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse;
}

@keyframes crotate{
    from{transform:scale(1)}
    to{transform:scale(1.5) }
}
